.dropdown-toggle::after{
    display: none;
}
.pointer{
    cursor: pointer;
}
.grid{
    display: grid;
    background-color: #3c8dbc;
    font-size: 13px;
    margin: 0;
}
.grid li{
    color: white;
}
.dropdown-menu{
    padding: 0;
    border: 0;
    width: 100%;
}
.dropdown-item{

}
.dropdown-item a i{
    margin-right:10px;
}
.cursor{
    cursor: context-menu;
}
.header .row{
    background-color: #3c8dbc;
    color: white;
}
.admin_head{
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
}
.admin_content{
    margin-left: -15px;
}
.header .admin_head{
    background-color: #367fa9;
}
.header .container-fluid .row .col-md-10{
    padding: 0;
} 
.menu_bar_left{
    float: right;
}
.menu_bar_right:hover{
    background-color:  #367fa9;
   
}
.badge-success { 
    color: #fff;
    font-size: 8px;
    background-color: #28a745;
    margin: 0 -5px;
}
.badge-warning {
    color: #fff;
    font-size: 8px;
    background-color:red;
    margin: 0 -5px;
}
.badge-danger {
    color: #fff;
    font-size: 8px;
    background-color:orange;
    margin: 0 -5px;
}
.auth_img img {
    vertical-align: middle;
    border-style: none;
    width: 27px;
    border-radius: 100%;
    border: 100%;
}
.auth_name{
    font-size: 14px;
} 
.icon{
    padding: 12px 16px;
    transition: 0.3s ease all;
}
.icon:hover{
    background-color: #367fa9;
    transition: 0.3s ease all;
}
.menu_bar_left ul{
    margin-bottom: 0;
    padding-left: 0;
}
.menu_bar_left ul li{
    list-style: none; 
    display: inline-block;
}
.menu_bar_left ul li a{
    display: inline-block;
    padding: 11px 10px;
    vertical-align: middle;
}

.menu_bar_left ul li a i{
    line-height: 28px;
}
.menu_bar_right{
    display: inline-block;
    padding: 17px;
    transition: 0.3s ease all;
}
.menu_bar_right:hover{
    background-color:#367fa9;
    transition: 0.3s ease all;
}
.padleft{
    padding-left: 0;
    padding-right: 0;
}
.profile{
    background-color: #222d32;
    color: white;
    padding: 10px;
}
.profile_img img{
    width:45px;
    border-radius: 100%;
    float: left;
}

.profile_text{
    margin-left: 60px;
}
.fa-circle{
    color: green;
    font-size: 11px;
    padding: 3px;
}
.sidebar{
    background-color: #1a2226;
    height: fit-content;
}
.profile_text_f1{
    font-size:14px;
    margin: 3px;
}
.profile_text_f2{
    font-size: 11px;
}
.search_row {
    background-color: #222d32;
    padding: 10px;
}
.search_row .form-control{
    background-color: #374850;
    border: none;
    color: white;
}
.fa-search{
    font-size: 13px;
    color: dimgrey;
}
.sidebar_f1{
    font-size: 13px;
    padding: 10px;
    color: #4b687e;
}
.sidebar_f2{
    font-size: 14px;
    color:#b8c7ce;
    padding: 12px 15px;
    background-color: #222d32;
}
.sidebar_f2:hover{
    background-color: #1e282c;
    color: white;
}
.sidebar ul li{
    list-style: none;
    padding:0;
}
.sidebar ul{
    padding: 0;
    display: grid;
}
.dashboard{
    border-left: 3px solid lightskyblue;
    background-color: #1e282c;
    color: white;
}
.span_right{
    float: right;
}
.sidebar_f2 i{
    padding-right: 8px;
    
}
.search_row span{
    float: right;
    margin-top: -25px;
    margin-right: 8px;
}
.sidebar p{
    margin-bottom: 0;
}
.premium{
    background-color: rgb(0, 166, 90);
    color: white;
}
.premium:hover{
    background-color: green;
}
.important i{
    color:red;
}
.warning i{
    color: orange;
}
.sidebar .badge-success{
    margin-top: 4px;
    font-size: 10px;
    padding:4px 5px 5px;
}
.sidebar .badge-warning{
    font-size: 10px;
}
.sidebar .badge-primary{
    font-size: 10px;
    margin-right: 5px;
}
.sidebar .layout .badge-primary{
    padding: 3px 5px;
    margin: 3px -5px;
}
.sidebar_f3{
    padding: 4px 13px 7px;
    color: #8aa4af;
}
 .sidebar_f3  .fa-circle{
    color: white;
    padding-right: 13px;
}
.sidebar_f3:hover{
    color: white;
}

.dash_menu{
    background-color: #2c3b41;
    font-size: 13px;
}
.dashboard.sidebar_f2 a span.span_right i,.charts.sidebar_f2 a span.span_right i {
    transform: rotate(-90deg);
    transition: .5s;
}
.dashboard.sidebar_f2.collapsed a span.span_right i, .charts.sidebar_f2.collapsed a span.span_right i{
    transform: rotate(0deg);
}

.box {
  display: block;  
  background: lightblue;
  margin-bottom: 1em;
}
input.form-control{
	color:white;
}
@media only screen and (max-width:772px){

}
@media only screen and (max-width:576px){
  
}