*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;    
}
body{
    margin: 0;
}
.grid_layout{
    
}
.header{
    display:flex;
}
.logo{
    width:120px;
    height:80px;
    flex-grow:4;

}
.menu{
    flex-grow:1;

    text-align: right;

    
}
.menu a:hover{
    background-color: #3cb2d0;
    color:white;
    border-radius: 23px;
}
.menu a{
    color:#a4a3a4;

    text-decoration: none;
    font-size: 20px;
}
.band1{
    background-image: url(back.jpg);
    background-size: cover;
}
.band1_text{

    padding: 80px;
}
.button{
    font-size: 20px;
    color:white;

    background-color: #3cb2d0;
    display: inline;
    border-radius:20px;
    font-style: italic;
    font-style:bold;
}
.band1_text p.type1{
    font-size: 22px;
    color:white;
    font-style:italic;
}
.band1_text p.type2{
    font-size: 30px;
    color:white;
    font-style: italic;
    font-style:bold;
}

.section_container{
    width: 1920px; 
   margin: 0 auto;
}

.sec1{
}
.sec1_row1{
     display: flex;
    align-content: space-between;
    padding:10px;
}
.sec1_row2,.sec1_row3{
    display: flex;
}
.sec1_content{
}
.sec1_row1_col1,.sec1_row1_col2,.sec1_row1_col3{
    border-top: 1.5px dotted black;
}
p.type3{
    font-weight: bold;
    color:#424344;
    font-size:22px ;
}
p.type4{
    color:#a4a3a4;
    font-size:20px ;
}
p.type3 button.num{
    font-size: 18px;
    color:white;
    border-radius: 45%;
    background-color:#3cb2d0 ;
}
p.t1{
    font-size: 19px;
    color: lightgray;
    font-weight: bolder;
}
p.t2{
    font-size: 23px;
    color: #424344;
    font-weight:bolder;
}
p.t3{
    font-size: 21px;
    color: #a4a3a4;
}
.sec1_row4{
    border-top: 1.5px dotted;
}
.band2{
   
}
table.band_band{
    background-color: #f2f5f8;   
}

td.space{
        width:400px;
}

.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
td.blue{
    background-image: url(back.jpg);
    background-size: cover;
}
p.t4{
    font-size: 23px;
    color:white;
    font-weight: bold;
}
p.t5{
    font-size: 20px;
    color:white;
}
.sec2{
    padding: 40px;
}
.sec2_row1{
    background-color:  #f2f5f8;
    border-radius: 10px;
}
.sec2_content{
    margin-left: 500px ;
    width: 800px;
}
.band3{

}
.sec3{

}
.footer{
    background-color: #3b3b3b;
    color: white;
}
.
/*
a{
    text-decoration: none;
    color:black;
}
*/
.abt_us a{
    text-decoration: none;
    color:white;
}
.preference p   {
    text-decoration: none;
    color: white;   
}
.preference p {
    text-decoration: none;
    color: white;   
}